In [1]:
# Import library
import pandas as pd

In [2]:
# Step 1: Create Example Data
# project_id, model_id, date, task_id, user_id, score
data = {'project_id':[1,1,2,3], 'model_id':[1,2,1,3], 'date':['2024-01-02','2024-01-02','2024-01-03','2024-01-04'],'task_id':[1,1,2,3],'user_id':[1,2,3,6],'score':['good','bad','good','good']}

In [5]:
evaluation_results = pd.DataFrame(data)

In [6]:
evaluation_results

   project_id  model_id        date  task_id  user_id score
0           1         1  2024-01-02        1        1  good
1           1         2  2024-01-02        1        2   bad
2           2         1  2024-01-03        2        3  good
3           3         3  2024-01-04        3        6  good

In [7]:
# Step 2: Filter and Aggregate Scores
filtered_results = evaluation_results.dropna(subset=["score"])

In [8]:
filtered_results

   project_id  model_id        date  task_id  user_id score
0           1         1  2024-01-02        1        1  good
1           1         2  2024-01-02        1        2   bad
2           2         1  2024-01-03        2        3  good
3           3         3  2024-01-04        3        6  good

In [9]:
# Classify Scores as Good or Bad
filtered_results["good_score"] = filtered_results["score"].apply(lambda x: 1 if x == "good" else 0)

In [10]:
# Aggregate by Model
comparison_summary = filtered_results.groupby("model_id").agg(
    total_scores=("score", "count"),
    good_scores=("good_score", "sum")
).reset_index()

comparison_summary["good_ratio"] = comparison_summary["good_scores"] / comparison_summary["total_scores"]

In [11]:
# Step 3: Add Metadata
# models_metadata: Describes each model with its name and type
models_metadata = pd.DataFrame({
    "model_id": [1, 2, 3],
    "model_name": ["Alpha", "Beta", "Gamma"],
    "model_type": ["Type A", "Type B", "Type C"]
})

In [12]:
# Describes tasks with their category and description
tasks_metadata = pd.DataFrame({
    "task_id": [1, 2, 3, 4],
    "task_description": ["Classification", "Regression", "Clustering", "Forecasting"],
    "task_category": ["Machine Learning", "Statistics", "AI", "Time Series"]
})

In [13]:
# Step 4: Join Metadata with Results
# Join the Evaluation Results with Metadata
enhanced_analysis = pd.merge(filtered_results, models_metadata, on="model_id")
enhanced_analysis = pd.merge(enhanced_analysis, tasks_metadata, on="task_id")

In [14]:
# Aggregate Enhanced Data
enhanced_summary = enhanced_analysis.groupby(
    ["model_id", "model_name", "model_type", "task_category"]
).agg(
    total_scores=("score", "count"),
    good_scores=("good_score", "sum")
).reset_index()

enhanced_summary["good_ratio"] = enhanced_summary["good_scores"] / enhanced_summary["total_scores"]

In [15]:
enhanced_summary

,model_id,model_name,model_type,task_category,total_scores,good_scores,good_ratio
0,1,Alpha,Type A,Machine Learning,1,1,1.0
1,1,Alpha,Type A,Statistics,1,1,1.0
2,2,Beta,Type B,Machine Learning,1,0,0.0
3,3,Gamma,Type C,AI,1,1,1.0